.raiting {
    display: flex;
    margin-bottom: 12px;

    &__star {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }

        &.active {
            background: #27ae60;
            color: #fff;
        }
    }
}
